<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Song</title>
</head>
<body>
<h3>Add a song</h3>
<form method="post">
    <label>Song Name:</label>
    <input type="text" placeholder="Song Name" name="name"><br/>

    <label>Album:</label>
    <input type="text" placeholder="Album" name="album"><br/>

    <label>Author:</label>
    <input type="text" placeholder="Author" name="author"><br/>

    <label>Playtime:</label>
    <input type="text" placeholder="Playtime" name="playtime"><br/><br/>

    <button type="submit">Submit</button>
</form>
</body>
</html>