<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--    <script type="text/javascript" th:src="@{/js/language.js}"></script>-->
    <title th:text="*{title}"></title>
</head>

<a th:fragment="sortedColumn(pageData, sortedParamName, rootPath, columnName, sortIconDown, sortIconUp)"
   th:with="sortDirection=${pageData.sort.getOrderFor(sortedParamName)?.direction}"
   th:href="@{*{rootPath}(page = ${param.page}, sort=*{sortedParamName} + ',' + ${sortDirection?.name() eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
    <span th:text="*{columnName}"></span>
    <i th:if="${sortDirection ne null}"
       class="fa-solid"
       th:classappend="${sortDirection?.name() eq 'ASC'} ? *{sortIconDown} : *{sortIconUp}">
    </i>
</a>

</html>