<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head('Song list')">

</head>
<body>
    <h1>List of songs</h1>
    <div>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Album</th>
                <th>author</th>
                <th>Playtime</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song: ${songs}">
                <td th:text="${song.songName}"></td>
                <td th:text="${song.album}"></td>
                <td th:text="${song.author}"></td>
                <td th:text="${song.playtime}"></td>
                <td><a class="btn btn-info" th:href="@{/songs/update/{songId}(songId=${song.id})}">Update</a></td>
                <td>Delete</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>