<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="fragments :: head('Song list')">

</head>
<body>
<nav th:replace="fragments :: menuBar('register')"></nav>
<h1>Register New User</h1>
<form method="post" th:object="${userDto}" th:action="@{/register}">
    <div class="container">
        <div class="mb-3">
            <label for="UserName" class="form-label">User Name</label>
            <input type="text" class="form-control" id="UserName" th:field="*{userName}">
            <span th:errors="*{userName}" th:if="${#fields.hasErrors('userName')}"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" th:field="*{password}">
            <span th:errors="*{password}" th:if="${#fields.hasErrors('password')}"></span>
        </div>
        <div class="mb-3">
            <label for="RepeatPassword" class="form-label">Repeat Password</label>
            <input type="password" class="form-control" id="RepeatPassword" th:field="*{repeatedPassword}">
            <span th:errors="*{repeatedPassword}" th:if="${#fields.hasErrors('repeatedPassword')}"></span>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </div>

</form>
</body>
</html>